<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>


    <main>
        <!-- CARRUSEL HECHO TOTALMENTE CON HTML Y CSS  -->
     <section id="conteItemsCarrusel">
        <section class="itemCarrusel" id="itemCarrusel-1">
            <article class="tarjetaCarrusel" id="tarjetaCarrusel-1">
                <img src="./img/combo1.jpg" alt="">
            </article>
            <article class="flechasCarrusel">
                <a href="#itemCarrusel-3"><i class="fas fa-chevron-left"></i></a>
                <a href="#itemCarrusel-2"><i class="fas fa-chevron-right"></i></a>
            </article>
        </section>
        <section class="itemCarrusel" id="itemCarrusel-2">
            <article class="tarjetaCarrusel" id="tarjetaCarrusel-2">
                <img src="./img/combo2.jpg" alt="No se encontro la imagen">
            </article>
            <article class="flechasCarrusel">
                <a href="#itemCarrusel-1"><i class="fas fa-chevron-left"></i></a>
                <a href="#itemCarrusel-3"><i class="fas fa-chevron-right"></i></a>
            </article>
        </section>
        <section class="itemCarrusel" id="itemCarrusel-3">
            <article class="tarjetaCarrusel" id="tarjetaCarrusel-3">
                <img src="./img/combo3.jpg" alt="No se encontro la imagen">
            </article>
            <article class="flechasCarrusel">
                <a href="#itemCarrusel-2"><i class="fas fa-chevron-left"></i></a>
                <a href="#itemCarrusel-1"><i class="fas fa-chevron-right"></i></a>
            </article>
        </section>

     </section>

    </main>


    <%- include('partials/footer'); %>

</body>

</html>