<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>


    <main>
        <%- include('partials/carrusel'); %>

        <section class="contTarjetas">
            <article class="contTarjeta">
                <article class="imgTarjeta"><img src="https://http2.mlstatic.com/D_NQ_NP_786284-MLA45139485703_032021-V.jpg" alt=""></article>
                <h5>$ 800</h5>
                <h4>Cerveza Patagonia Bohemian Pilsener rubia lata 473 mL 6 u</h4>
            </article>
            <article class="contTarjeta">
                <article class="imgTarjeta"><img src="https://http2.mlstatic.com/D_NQ_NP_786284-MLA45139485703_032021-V.jpg" alt=""></article>
                <h5>$ 800</h5>
                <h4>Cerveza Patagonia Bohemian Pilsener rubia lata 473 mL 6 u</h4>
            </article>
            <article class="contTarjeta">
                <article class="imgTarjeta"><img src="https://http2.mlstatic.com/D_NQ_NP_786284-MLA45139485703_032021-V.jpg" alt=""></article>
                <h5>$ 800</h5>
                <h4>Cerveza Patagonia Bohemian Pilsener rubia lata 473 mL 6 u</h4>
            </article> 
            <article class="contTarjeta">
                <article class="imgTarjeta"><img src="https://http2.mlstatic.com/D_NQ_NP_786284-MLA45139485703_032021-V.jpg" alt=""></article>
                <h5>$ 800</h5>
                <h4>Cerveza Patagonia Bohemian Pilsener rubia lata 473 mL 6 u</h4>
            </article>  
        </section>


    </main>


    <%- include('partials/footer'); %>

</body>

</html>