
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< ESTILO CSS DEL MAIN EN EL HOME PARA CELULARES >>>>>>>>>>>>>>>>>>>>>>*/


/* AQUI ESAT EL ESTILO PARA EL CARRUSEL */

#conteItemsCarrusel{
    height: 190px;
    overflow: hidden;
}

.itemCarrusel{
height: 100%;
position: relative;
}

.tarjetaCarrusel{
height: 100%;
}
.tarjetaCarrusel img{
    width: 100%;
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
}

/* AQUI TERMINA EL ESTILO PARA EL CARRUSEL */