
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< ESTILO CSS DEL MAIN EN EL HOME PARA CELULARES >>>>>>>>>>>>>>>>>>>>>>*/


/* AQUI ESAT EL ESTILO PARA EL CARRUSEL */

#conteItemsCarrusel{
    height: 300px;
    overflow: hidden;
}

.itemCarrusel{
height: 100%;
position: relative;
}

.tarjetaCarrusel{
height: 100%;
}
.tarjetaCarrusel img{
    width: 100%;
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
}

/* AQUI TERMINA EL ESTILO PARA EL CARRUSEL */

.novedades{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    margin-top: 40px;
}

/* CSS DE LAS TARJETAS NOVEDADES*/

.contTarjetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.contTarjeta{
width: 40%;

box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
0 0  0 2px rgb(255,255,255),
0.3em 0.3em 1em rgba(0,0,0,0.3);
margin: 10px;
}
.contTarjeta  h5, h4 {
    padding: 10px;
}

.imgTarjeta{
    width: 100%;
    background-color: white;
    text-align: center;
    
}

.imgTarjeta img{
    width: 50%;
    
}

/* ACA TERMINA EL CSS DE LAS TARJETAS NOVEDADES */
.armaTuPedido{
    text-align: center;
    margin: 10px;
}

.armaTuPedido img{
    width: 200px;
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
0 0  0 2px rgb(255,255,255),
0.3em 0.3em 1em rgba(0,0,0,0.3);
}


.ofertas{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    margin-top: 40px;
}