@import url('header&&footer.css');
@import url('home.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTA HOJA DE ESTILO RECIVE A TODAS LAS HOJAS DEL SITIO Y LINKEA CON LAS VISTAS */