        
<article class="contTarjeta">
    <article class="imgTarjeta"><img src=<%= product.imagen %> alt=""></article>
    <h5>$ <%= product.precio %></h5>
    <h4><%= product.nombre %></h4>
</article>
