<footer>
    <section class="contFooter">
    <section>
           <h6>PREGUNTAS FRECUENTES</h6> 
    </section>
    <section>
        <h6>NOSOTROS</h6>
    </section>
    <section>
        <h6>EMPRESAS</h6>
    </section>
    <section>
        <h6>SEGUINOS</h6>
        <article>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </article>
    </section>

    </section>
    </footer>