<header class="contHeader">
    <section class="bar">  
      <section class="logo">
      <a href="/"><img src="../img/drinkslogo.png" alt="LOGO"></a>
      </section>
  <article class="contSearchCarBarI">    
      <section class="barI">
          <i class="fas fa-bars"></i>  
      </section>
      <section class="searchCar">
     <a href="#"><i class="fas fa-search"></i></a>

     <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </section>
  </article>   
    </section>   
  </header>